/* -------------------------------- 

File#: _2_contact-v3
Title: Contact v3
Descr: Contact block w/ info about how to get in touch
Usage: codyhouse.co/license

-------------------------------- */

.contact-v3 {
  position: relative;
  z-index: 1;
}