/* -------------------------------- 

File#: _2_filterable-product-gallery
Title: Filterable Product Gallery
Descr: A filterable gallery of items controlled by a navigation list
Usage: codyhouse.co/license

-------------------------------- */