/* -------------------------------- 

File#: _2_sticky-headers-table
Title: Sticky Headers Table
Descr: A table with multiple sticky headers
Usage: codyhouse.co/license

-------------------------------- */

/* ⚠️ This component doesn't include any custom SCSS */