<fieldset>
    <legend class="form-legend sr-only margin-bottom-xs hbs-ui__text">Select option:</legend>

    <div class="grid gap-sm js-choice-imgs" role="radiogroup">
        <div id="_1" aria-selection_ag="_1" class="choice-img bg radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio"
            aria-checked="false" tabindex="0" aria-label="_1">
            <figure class="aspect-ratio-4:3">
                <div class="bg-primary padding-y-lg"></div>
                <div class="flex gap-xs position-relative padding-sm margin-y-sm items-center justify-center bg">
                    <div class="bg-accent radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-lower);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-higher);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                </div>
            </figure>

            <div class="padding-sm text-component">
                <h4 class="text-base hbs-ui__text">Typography</h4>
                <p class="text-sm color-contrast-medium">Lorem ipsum dolor sit amet consectetur.</p>
                <button class="btn btn--primary text-sm color-white hbs-ui__text noselect">Buttons</button>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M2 8l4 4 8-8" /></svg>
            </div>
        </div>

        <div id="_2" aria-selection_ag="_2" class="choice-img bg radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio"
            aria-checked="false" tabindex="0" aria-label="_2">
            <figure class="aspect-ratio-4:3">
                <div class="bg-primary padding-y-lg"></div>
                <div class="flex gap-xs position-relative padding-sm margin-y-sm items-center justify-center bg">
                    <div class="bg-accent radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-lower);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-higher);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                </div>
            </figure>

            <div class="padding-sm text-component">
                <h4 class="text-base hbs-ui__text">Typography</h4>
                <p class="text-sm color-contrast-medium">Lorem ipsum dolor sit amet consectetur.</p>
                <button class="btn btn--primary text-sm color-white hbs-ui__text noselect">Buttons</button>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M2 8l4 4 8-8" /></svg>
            </div>
        </div>

        <div id="_3" aria-selection_ag="_3" class="choice-img bg radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio"
            aria-checked="false" tabindex="0" aria-label="_3">
            <figure class="aspect-ratio-4:3">
                <div class="bg-primary padding-y-lg"></div>
                <div class="flex gap-xs position-relative padding-sm margin-y-sm items-center justify-center bg">
                    <div class="bg-accent radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-lower);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-higher);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                </div>
            </figure>

            <div class="padding-sm text-component">
                <h4 class="text-base hbs-ui__text">Typography</h4>
                <p class="text-sm color-contrast-medium">Lorem ipsum dolor sit amet consectetur.</p>
                <button class="btn btn--primary text-sm color-white hbs-ui__text noselect">Buttons</button>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M2 8l4 4 8-8" /></svg>
            </div>
        </div>

        <div id="_4" aria-selection_ag="_4" class="choice-img bg radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio"
            aria-checked="false" tabindex="0" aria-label="_4">
            <figure class="aspect-ratio-4:3">
                <div class="bg-primary padding-y-lg"></div>
                <div class="flex gap-xs position-relative padding-sm margin-y-sm items-center justify-center bg">
                    <div class="bg-accent radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-lower);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-higher);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                </div>
            </figure>

            <div class="padding-sm text-component">
                <h4 class="text-base hbs-ui__text">Typography</h4>
                <p class="text-sm color-contrast-medium">Lorem ipsum dolor sit amet consectetur.</p>
                <button class="btn btn--primary text-sm color-white hbs-ui__text noselect">Buttons</button>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M2 8l4 4 8-8" /></svg>
            </div>
        </div>

        <div id="_5" aria-selection_ag="_5" class="choice-img bg radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio"
            aria-checked="false" tabindex="0" aria-label="_5">
            <figure class="aspect-ratio-4:3">
                <div class="bg-primary padding-y-lg"></div>
                <div class="flex gap-xs position-relative padding-sm margin-y-sm items-center justify-center bg">
                    <div class="bg-accent radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-lower);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-higher);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                </div>
            </figure>

            <div class="padding-sm text-component">
                <h4 class="text-base hbs-ui__text">Typography</h4>
                <p class="text-sm color-contrast-medium">Lorem ipsum dolor sit amet consectetur.</p>
                <button class="btn btn--primary text-sm color-white hbs-ui__text noselect">Buttons</button>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M2 8l4 4 8-8" /></svg>
            </div>
        </div>

        <div id="_6" aria-selection_ag="_6" class="choice-img bg radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio"
            aria-checked="false" tabindex="0" aria-label="_6">
            <figure class="aspect-ratio-4:3">
                <div class="bg-primary padding-y-lg"></div>
                <div class="flex gap-xs position-relative padding-sm margin-y-sm items-center justify-center bg">
                    <div class="bg-accent radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-lower);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-higher);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                </div>
            </figure>

            <div class="padding-sm text-component">
                <h4 class="text-base hbs-ui__text">Typography</h4>
                <p class="text-sm color-contrast-medium">Lorem ipsum dolor sit amet consectetur.</p>
                <button class="btn btn--primary text-sm color-white hbs-ui__text noselect">Buttons</button>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M2 8l4 4 8-8" /></svg>
            </div>
        </div>

        <div id="_7" aria-selection_ag="_7" class="choice-img bg radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio"
            aria-checked="false" tabindex="0" aria-label="_7">
            <figure class="aspect-ratio-4:3">
                <div class="bg-primary padding-y-lg"></div>
                <div class="flex gap-xs position-relative padding-sm margin-y-sm items-center justify-center bg">
                    <div class="bg-accent radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-lower);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-higher);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                </div>
            </figure>

            <div class="padding-sm text-component">
                <h4 class="text-base hbs-ui__text">Typography</h4>
                <p class="text-sm color-contrast-medium">Lorem ipsum dolor sit amet consectetur.</p>
                <button class="btn btn--primary text-sm color-white hbs-ui__text noselect">Buttons</button>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M2 8l4 4 8-8" /></svg>
            </div>
        </div>

        <div id="_8" aria-selection_ag="_8" class="choice-img bg radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio"
            aria-checked="false" tabindex="0" aria-label="_8">
            <figure class="aspect-ratio-4:3">
                <div class="bg-primary padding-y-lg"></div>
                <div class="flex gap-xs position-relative padding-sm margin-y-sm items-center justify-center bg">
                    <div class="bg-accent radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-lower);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                    <div style="background-color: var(--color-contrast-higher);" class="radius-full border border-2 shadow-lg border-white padding-sm"></div>
                </div>
            </figure>

            <div class="padding-sm text-component">
                <h4 class="text-base hbs-ui__text">Typography</h4>
                <p class="text-sm color-contrast-medium">Lorem ipsum dolor sit amet consectetur.</p>
                <button class="btn btn--primary text-sm color-white hbs-ui__text noselect">Buttons</button>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M2 8l4 4 8-8" /></svg>
            </div>
        </div>
    </div>
</fieldset>

<script class="hbs-ui__scripts">
    $(async () => {
        const choices = document.querySelectorAll('.choice-img');

        document.querySelector(`#${localStorage.getItem('_ag')}`).setAttribute('aria-checked', 'true');

        choices.forEach(async (_this) => {
            _this.addEventListener('click', async (e) => {
                const selection = e.target.closest('.choice-img').getAttribute('aria-label');
                const _ag = localStorage.getItem('_ag');

                if (_ag === selection) return;

                localStorage.setItem('_ag', selection);

                document.body.setAttribute('aria-selection_ag', selection);
            });
        });
    });
</script>