<div class="bg-contrast-lower min-height-100vh flex flex-center padding-sm" style="overflow: hidden;">
    <figure class="bg-decoration-v2 z-index-1" aria-hidden="true">
        <svg class="bg-decoration-v2__svg color-contrast-higher opacity-10%" viewBox="0 0 1920 450" fill="none">
            <g opacity="1" fill="currentColor" stroke="none">
                <circle cx="1544" cy="287" r="2" />
                <circle cx="1544" cy="303" r="2" />
                <circle cx="1544" cy="319" r="2" />
                <circle cx="1544" cy="335" r="2" />
                <circle cx="1544" cy="351" r="2" />
                <circle cx="1544" cy="367" r="2" />
                <circle cx="1544" cy="383" r="2" />
                <circle cx="1544" cy="399" r="2" />
                <circle cx="1544" cy="415" r="2" />
                <circle cx="1544" cy="431" r="2" />
                <circle cx="1560" cy="287" r="2" />
                <circle cx="1560" cy="303" r="2" />
                <circle cx="1560" cy="319" r="2" />
                <circle cx="1560" cy="335" r="2" />
                <circle cx="1560" cy="351" r="2" />
                <circle cx="1560" cy="367" r="2" />
                <circle cx="1560" cy="383" r="2" />
                <circle cx="1560" cy="399" r="2" />
                <circle cx="1560" cy="415" r="2" />
                <circle cx="1560" cy="431" r="2" />
                <circle cx="1576" cy="287" r="2" />
                <circle cx="1576" cy="303" r="2" />
                <circle cx="1576" cy="319" r="2" />
                <circle cx="1576" cy="335" r="2" />
                <circle cx="1576" cy="351" r="2" />
                <circle cx="1576" cy="367" r="2" />
                <circle cx="1576" cy="383" r="2" />
                <circle cx="1576" cy="399" r="2" />
                <circle cx="1576" cy="415" r="2" />
                <circle cx="1576" cy="431" r="2" />
                <circle cx="1592" cy="287" r="2" />
                <circle cx="1592" cy="303" r="2" />
                <circle cx="1592" cy="319" r="2" />
                <circle cx="1592" cy="335" r="2" />
                <circle cx="1592" cy="351" r="2" />
                <circle cx="1592" cy="367" r="2" />
                <circle cx="1592" cy="383" r="2" />
                <circle cx="1592" cy="399" r="2" />
                <circle cx="1592" cy="415" r="2" />
                <circle cx="1592" cy="431" r="2" />
                <circle cx="1608" cy="287" r="2" />
                <circle cx="1624" cy="287" r="2" />
                <circle cx="1640" cy="287" r="2" />
                <circle cx="1656" cy="287" r="2" />
                <circle cx="1672" cy="287" r="2" />
                <circle cx="1688" cy="287" r="2" />
                <circle cx="1608" cy="303" r="2" />
                <circle cx="1624" cy="303" r="2" />
                <circle cx="1640" cy="303" r="2" />
                <circle cx="1656" cy="303" r="2" />
                <circle cx="1672" cy="303" r="2" />
                <circle cx="1688" cy="303" r="2" />
                <circle cx="1608" cy="319" r="2" />
                <circle cx="1624" cy="319" r="2" />
                <circle cx="1640" cy="319" r="2" />
                <circle cx="1656" cy="319" r="2" />
                <circle cx="1672" cy="319" r="2" />
                <circle cx="1688" cy="319" r="2" />
                <circle cx="1608" cy="335" r="2" />
                <circle cx="1624" cy="335" r="2" />
                <circle cx="1640" cy="335" r="2" />
                <circle cx="1656" cy="335" r="2" />
                <circle cx="1672" cy="335" r="2" />
                <circle cx="1688" cy="335" r="2" />
                <circle cx="1608" cy="351" r="2" />
                <circle cx="1608" cy="367" r="2" />
                <circle cx="1608" cy="383" r="2" />
                <circle cx="1608" cy="399" r="2" />
                <circle cx="1608" cy="415" r="2" />
                <circle cx="1608" cy="431" r="2" />
                <circle cx="1624" cy="351" r="2" />
                <circle cx="1624" cy="367" r="2" />
                <circle cx="1624" cy="383" r="2" />
                <circle cx="1624" cy="399" r="2" />
                <circle cx="1624" cy="415" r="2" />
                <circle cx="1624" cy="431" r="2" />
                <circle cx="1640" cy="351" r="2" />
                <circle cx="1656" cy="351" r="2" />
                <circle cx="1672" cy="351" r="2" />
                <circle cx="1688" cy="351" r="2" />
                <circle cx="1640" cy="367" r="2" />
                <circle cx="1656" cy="367" r="2" />
                <circle cx="1672" cy="367" r="2" />
                <circle cx="1688" cy="367" r="2" />
                <circle cx="1640" cy="383" r="2" />
                <circle cx="1640" cy="399" r="2" />
                <circle cx="1640" cy="415" r="2" />
                <circle cx="1640" cy="431" r="2" />
                <circle cx="1656" cy="383" r="2" />
                <circle cx="1672" cy="383" r="2" />
                <circle cx="1688" cy="383" r="2" />
                <circle cx="1656" cy="399" r="2" />
                <circle cx="1656" cy="415" r="2" />
                <circle cx="1656" cy="431" r="2" />
                <circle cx="1672" cy="399" r="2" />
                <circle cx="1672" cy="415" r="2" />
                <circle cx="1672" cy="431" r="2" />
                <circle cx="1688" cy="399" r="2" />
                <circle cx="1688" cy="415" r="2" />
                <circle cx="1688" cy="431" r="2" />
                <circle cx="232" cy="37" r="2" />
                <circle cx="232" cy="53" r="2" />
                <circle cx="232" cy="69" r="2" />
                <circle cx="232" cy="85" r="2" />
                <circle cx="232" cy="101" r="2" />
                <circle cx="232" cy="117" r="2" />
                <circle cx="232" cy="133" r="2" />
                <circle cx="232" cy="149" r="2" />
                <circle cx="232" cy="165" r="2" />
                <circle cx="232" cy="181" r="2" />
                <circle cx="248" cy="37" r="2" />
                <circle cx="248" cy="53" r="2" />
                <circle cx="248" cy="69" r="2" />
                <circle cx="248" cy="85" r="2" />
                <circle cx="248" cy="101" r="2" />
                <circle cx="248" cy="117" r="2" />
                <circle cx="248" cy="133" r="2" />
                <circle cx="248" cy="149" r="2" />
                <circle cx="248" cy="165" r="2" />
                <circle cx="248" cy="181" r="2" />
                <circle cx="264" cy="37" r="2" />
                <circle cx="264" cy="53" r="2" />
                <circle cx="264" cy="69" r="2" />
                <circle cx="264" cy="85" r="2" />
                <circle cx="264" cy="101" r="2" />
                <circle cx="264" cy="117" r="2" />
                <circle cx="264" cy="133" r="2" />
                <circle cx="264" cy="149" r="2" />
                <circle cx="264" cy="165" r="2" />
                <circle cx="264" cy="181" r="2" />
                <circle cx="280" cy="37" r="2" />
                <circle cx="280" cy="53" r="2" />
                <circle cx="280" cy="69" r="2" />
                <circle cx="280" cy="85" r="2" />
                <circle cx="280" cy="101" r="2" />
                <circle cx="280" cy="117" r="2" />
                <circle cx="280" cy="133" r="2" />
                <circle cx="280" cy="149" r="2" />
                <circle cx="280" cy="165" r="2" />
                <circle cx="280" cy="181" r="2" />
                <circle cx="296" cy="37" r="2" />
                <circle cx="312" cy="37" r="2" />
                <circle cx="328" cy="37" r="2" />
                <circle cx="344" cy="37" r="2" />
                <circle cx="360" cy="37" r="2" />
                <circle cx="376" cy="37" r="2" />
                <circle cx="296" cy="53" r="2" />
                <circle cx="312" cy="53" r="2" />
                <circle cx="328" cy="53" r="2" />
                <circle cx="344" cy="53" r="2" />
                <circle cx="360" cy="53" r="2" />
                <circle cx="376" cy="53" r="2" />
                <circle cx="296" cy="69" r="2" />
                <circle cx="312" cy="69" r="2" />
                <circle cx="328" cy="69" r="2" />
                <circle cx="344" cy="69" r="2" />
                <circle cx="360" cy="69" r="2" />
                <circle cx="376" cy="69" r="2" />
                <circle cx="296" cy="85" r="2" />
                <circle cx="312" cy="85" r="2" />
                <circle cx="328" cy="85" r="2" />
                <circle cx="344" cy="85" r="2" />
                <circle cx="360" cy="85" r="2" />
                <circle cx="376" cy="85" r="2" />
                <circle cx="296" cy="101" r="2" />
                <circle cx="296" cy="117" r="2" />
                <circle cx="296" cy="133" r="2" />
                <circle cx="296" cy="149" r="2" />
                <circle cx="296" cy="165" r="2" />
                <circle cx="296" cy="181" r="2" />
                <circle cx="312" cy="101" r="2" />
                <circle cx="312" cy="117" r="2" />
                <circle cx="312" cy="133" r="2" />
                <circle cx="312" cy="149" r="2" />
                <circle cx="312" cy="165" r="2" />
                <circle cx="312" cy="181" r="2" />
                <circle cx="328" cy="101" r="2" />
                <circle cx="344" cy="101" r="2" />
                <circle cx="360" cy="101" r="2" />
                <circle cx="376" cy="101" r="2" />
                <circle cx="328" cy="117" r="2" />
                <circle cx="344" cy="117" r="2" />
                <circle cx="360" cy="117" r="2" />
                <circle cx="376" cy="117" r="2" />
                <circle cx="328" cy="133" r="2" />
                <circle cx="328" cy="149" r="2" />
                <circle cx="328" cy="165" r="2" />
                <circle cx="328" cy="181" r="2" />
                <circle cx="344" cy="133" r="2" />
                <circle cx="360" cy="133" r="2" />
                <circle cx="376" cy="133" r="2" />
                <circle cx="344" cy="149" r="2" />
                <circle cx="344" cy="165" r="2" />
                <circle cx="344" cy="181" r="2" />
                <circle cx="360" cy="149" r="2" />
                <circle cx="360" cy="165" r="2" />
                <circle cx="360" cy="181" r="2" />
                <circle cx="376" cy="149" r="2" />
                <circle cx="376" cy="165" r="2" />
                <circle cx="376" cy="181" r="2" />
            </g>
            <g stroke="currentColor" stroke-width="2">
                <rect x="1568" y="83" width="244" height="244" />
                <rect x="124" y="-135" width="244" height="244" />
            </g>
        </svg>
    </figure>

    <form method="POST" action="/register" class="radius-md padding-lg max-width-xs">
        <div class="text-center margin-bottom-sm">
            <h1>Register</h1>
        </div>

        <div class="grid gap-xs">
            <div class="col-6@xs">
                <a onclick="$(this).toggleClass('btn--state-b'); setTimeout(() => {$(this).toggleClass('btn--state-b');}, 4000)"
                    class="btn bg btn--preserve-width btn--form width-100%">
                    <span class="btn__content-a">
                        <i class="fab icon margin-right-xxxs fa-twitter"></i>
                        <span>Register with Twitter</span>
                    </span>
                    <span class="btn__content-b">
                        <svg class="icon icon--is-spinning" aria-hidden="true" viewBox="0 0 16 16">
                            <title>Loading</title>
                            <g stroke-width="1" fill="currentColor" stroke="currentColor">
                                <path d="M.5,8a7.5,7.5,0,1,1,1.91,5" fill="none" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </span>
                </a>
            </div>

            <div class="col-6@xs">
                <a onclick="$(this).toggleClass('btn--state-b'); setTimeout(() => {$(this).toggleClass('btn--state-b');}, 4000)"
                    href="https://github.com/login/oauth/authorize?client_id=0b388312f5490f76f94c&scope=user"
                    class="btn bg btn--preserve-width btn--form width-100%">
                    <span class="btn__content-a">
                        <i class="fab icon margin-right-xxxs fa-github"></i>
                        <span>Register with GitHub</span>
                    </span>
                    <span class="btn__content-b">
                        <svg class="icon icon--is-spinning" aria-hidden="true" viewBox="0 0 16 16">
                            <title>Loading</title>
                            <g stroke-width="1" fill="currentColor" stroke="currentColor">
                                <path d="M.5,8a7.5,7.5,0,1,1,1.91,5" fill="none" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </span>
                </a>
            </div>
        </div>

        <p class="text-center margin-y-xxs">or</p>

        <div class="margin-bottom-sm">
            <label class="form-label margin-bottom-xxxs" for="username">What do you want as your username?</label>
            <input class="form-control width-100%" id="username" title="There is a maximum length of 12 characters."
                autocomplete="off" name="username" aria-label="Username" type="text" placeholder="john_doe202"
                maxlength="12" pattern=".{8,}" required title="8 characters minimum">
        </div>

        <div class="margin-bottom-sm">
            <label class="form-label margin-bottom-xxxs" for="address">What is your email address?
                <i aria-controls="privacy-policy" class="fas margin-left-xxxs noselect icon text-sm fa-info-circle"></i>
            </label>
            <input class="form-control width-100%" id="address" title="There is a maximum length of 64 characters."
                autocomplete="off" name="address" aria-label="address" type="address"
                placeholder="john_doe1216@jdoe.com" maxlength="64" pattern=".{8,}" required
                title="8 characters minimum">
        </div>

        <div id="privacy-policy" class="popover bg padding-sm radius-md shadow-md js-popover js-tab-focus"
            role="dialog">
            <div class="text-component text-sm">
                <h1 class="text-md">Suspicious?</h1>
                <p>You can learn more about our privacy policy by visiting our <a class="noselect"
                        href="/legals/privacy-policy">legals</a>.</p>
            </div>
        </div>

        <div class="margin-bottom-sm">
            <div class="flex justify-between margin-bottom-xxxs">
                <label class="form-label" for="password">What do you want as your password?</label>
                <span class="text-sm"><a href="/forgot-your-password">Forgot your password?</a></span>
            </div>

            <input class="form-control password__input js-password__input width-100%" id="password" autocomplete="off"
                class="form-control " name="password" aria-label="Password" type="password" placeholder="jdoe/@01"
                title="There is a maximum length of 20 characters." maxlength="20" pattern=".{10,}" required
                title="10 characters minimum">
        </div>

        <div class="margin-bottom-sm">
            <div class="flex justify-between">
                <input class="checkbox checkbox--inline" type="checkbox" name="newsletter" id="newsletter">
                <label class="text-sm" for="newsletter">Do you want e-mails with Updates and News about Acolytes?</label>
            </div>
        </div>

        <div class="margin-bottom-xs">
            <button type="submit"
                class="btn btn--primary sign-up__btn btn--form btn--preserve-width btn--md width-100%">
                <span class="btn__content-a">Register</span>
                <span class="btn__content-b">
                    <svg class="icon icon--is-spinning" aria-hidden="true" viewBox="0 0 16 16">
                        <title>Loading</title>
                        <g stroke-width="1" fill="currentColor" stroke="currentColor">
                            <path d="M.5,8a7.5,7.5,0,1,1,1.91,5" fill="none" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </span>
            </button>
        </div>

        <div class="text-center">
            <p class="text-sm">Already have an account? <a href="/login">Login</a></p>
            <p class="text-sm">What am I registering for? <a href="/legals/terms-and-conditions">Terms and Conditions</a></p>
        </div>
    </form>
</div>

<script class="hbs-ui__scripts">
    $(async () => {
        // left: 37, up: 38, right: 39, down: 40,
        // spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
        var keys = {37: 1, 38: 1, 39: 1, 40: 1};

        function preventDefault(e) {
            e.preventDefault();
        }

        function preventDefaultForScrollKeys(e) {
            if (keys[e.keyCode]) {
                preventDefault(e);
                return false;
            }
        }

        // modern Chrome requires { passive: false } when adding event
        var supportsPassive = false;
        try {
            window.addEventListener("test", null, Object.defineProperty({}, 'passive', {
                get: function () { supportsPassive = true; } 
            }));
        } catch(e) {}

        var wheelOpt = supportsPassive ? { passive: false } : false;
        var wheelEvent = 'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';

        // call this to Disable
        function disableScroll() {
            window.addEventListener('DOMMouseScroll', preventDefault, false); // older FF
            window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
            window.addEventListener('touchmove', preventDefault, wheelOpt); // mobile
            window.addEventListener('keydown', preventDefaultForScrollKeys, false);
        }

        // call this to Enable
        function enableScroll() {
            window.removeEventListener('DOMMouseScroll', preventDefault, false);
            window.removeEventListener(wheelEvent, preventDefault, wheelOpt); 
            window.removeEventListener('touchmove', preventDefault, wheelOpt);
            window.removeEventListener('keydown', preventDefaultForScrollKeys, false);
        }

        disableScroll();
    })

    $(async () => {
        let isSubmitted = false;

        $('form').on('submit', async (e) => {
            e.preventDefault();

            if (isSubmitted) {
                return;
            }

            isSubmitted = true;

            $('[type=submit]').toggleClass('btn--state-b');

            $.ajax({
                type: 'POST',
                url: '/register',
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    fn: false,
                    ln: false,
                    address: document.querySelector('#address').value,
                    bio: false,
                    employed: false,
                    birthday: false,
                    username: document.querySelector('#username').value,
                    password: document.querySelector('#password').value
                },
                beforeSend: async (xhr) => {
                    console.log('You have requested to register with Acolytes.');
                },
                error: async (err) => {
                    if (err) {
                        $('[type=submit]').toggleClass('btn--state-b');
                        isSubmitted = false;

                        return console.error(err);
                    }
                },
                success: async (args) => {
                    const {
                        err,
                        _id,
                        xhr
                    } = args;

                    if (err) {
                        return await (async (err) => {
                            const {
                                elements,
                                xhr,
                                async
                            } = err;

                            if (async) {
                                return await elements.forEach(async (
                                    _id, i, elements) => {
                                    if (!document
                                        .querySelector(_id)
                                    ) {
                                        $('[type=submit]')
                                            .toggleClass(
                                                'btn--state-b'
                                            );
                                        isSubmitted = false;

                                        return;
                                    }

                                    const element = document
                                        .querySelector(_id);

                                    element.classList.add(
                                        'form-control--error'
                                    );

                                    element
                                        .addEventListener(
                                            'focus', async (
                                                e) => {
                                                if (e
                                                    .target
                                                    .closest(
                                                        'input'
                                                    )
                                                    .classList
                                                    .contains(
                                                        'form-control--error'
                                                    )
                                                ) {
                                                    e.target
                                                        .closest(
                                                            'input'
                                                        )
                                                        .classList
                                                        .remove(
                                                            'form-control--error'
                                                        );
                                                }
                                            });

                                    if (xhr) {
                                        element
                                            .setAttribute(
                                                'placeholder',
                                                xhr[_id]);
                                    }

                                    $('[type=submit]')
                                        .toggleClass(
                                            'btn--state-b');
                                    isSubmitted = false;
                                });
                            }

                            elements.forEach((_id, i, elements) => {
                                if (!document.querySelector(
                                        _id)) {
                                    $('[type=submit]')
                                        .toggleClass(
                                            'btn--state-b');
                                    isSubmitted = false;

                                    return;
                                }

                                const element = document
                                    .querySelector(_id);

                                element.classList.add(
                                    'form-control--error');

                                element.addEventListener(
                                    'focus', (e) => {
                                        if (e.target
                                            .closest(
                                                'input')
                                            .classList
                                            .contains(
                                                'form-control--error'
                                            )) {
                                            e.target
                                                .closest(
                                                    'input')
                                                .classList
                                                .remove(
                                                    'form-control--error'
                                                );
                                        }
                                    });

                                if (xhr) {
                                    element.setAttribute(
                                        'placeholder', xhr[
                                            _id]);
                                }

                                $('[type=submit]').toggleClass(
                                    'btn--state-b');
                                isSubmitted = false;
                            });
                        })(err);
                    }

                    localStorage.setItem('_id', _id);

                    if (xhr) {
                        const {
                            uuid,
                            url,
                            async
                        } = xhr;

                        if (uuid) {
                            sessionStorage.setItem('uuid', uuid);

                            if (async) {
                                $('[type=submit]').toggleClass('btn--state-b');
                                isSubmitted = false;

                                return await window.location.replace(url);
                            }

                            $('[type=submit]').toggleClass('btn--state-b');
                            isSubmitted = false;

                            window.location.replace(url);
                        }
                    }
                }
            });
        });
    });
</script>