<article class="padding-y-md">
    <div class="container max-width-adaptive-md">
        <div class="text-component line-height-lg v-space-md">
            <h2>Frequently Asked Questions</h2>

            <p>Please note that if you would like to report any bugs or glitches in our software, visit our <a
                    target="_blank" href="https://github.com/Mooonys">GitHub</a> page. You may also notify us with your suggestions
                via the <a target="_blank" href="https://github.com/Mooonys/Mooonys/discussions">GitHub</a> page and/or our <a
                    target="_blank" href="{{URL 'collaboration/feedback'}}">Feedback</a> page.</p>

            <div class="text-divider"></div>

            <div class="container max-width-adaptive-lg padding-md">
                <ol class="text-points text-points--counter grid gap-lg">
                    <li class="text-points__item col-6@md">
                        <section id="continue-membership"></section>

                        <div class="text-component">
                            <h3 class="text-points__title">Can you continue using your Premium version after cancelling
                                your membership?</h3>
                            <p>You may use your Premium version after cancelling your membership until the expirement
                                date which will be provided on cancelling your membership.</p>
                        </div>
                    </li>

                    <li class="text-points__item col-6@md">
                        <section id="refund"></section>

                        <div class="text-component">
                            <h3 class="text-points__title">Can you get a refund when purchasing a Premium membership?
                            </h3>
                            <p>You can get a refund for the initial purchase though you will not get a refund for the
                                purchases after your initial purchase.</p>
                        </div>
                    </li>

                    <li class="text-points__item col-6@md">
                        <section id="activation-id"></section>

                        <div class="text-component">
                            <h3 class="text-points__title">Where can you find your Premium activation id?</h3>
                            <p>You must navigate to your profile on our website and select 'version' on the menu and
                                click 'copy' or 'reveal' to view or copy your activation id.</p>
                            <p class="text-sm color-error">(Please note that if you have not purchased a Premium or
                                Enterprise membership you will not require an activation id).</p>
                        </div>
                    </li>

                    <li class="text-points__item col-6@md">
                        <section id="invite-collaborators"></section>

                        <div class="text-component">
                            <h3 class="text-points__title">How can you invite collaborators when using an Enterprise
                                membership?</h3>
                            <p>When inviting collaborators with your Enterprise membership you must navigate to the your
                                settings on our application and select invite from the menu and provide an email address
                                of the reciepient you would like to invite.</p>
                            <p class="text-sm color-error">(Please note that if you have purchased a Premium membership
                                or have the Personal membership this option to invite collaborators on our application
                                will not be available).</p>
                        </div>
                    </li>

                    <li class="text-points__item col-6@md">
                        <section id="post-suggestions"></section>

                        <div class="text-component">
                            <h3 class="text-points__title">Where can you post your suggestions?</h3>
                            <p>You can post new suggestions for our application by navigating on our website to the
                                suggestions page via the footer or navigation menu.</p>
                            <a class="color-primary" target="_blank" href="{{URL 'feedback'}}">Feedback</a>
                        </div>
                    </li>

                    <li class="text-points__item col-6@md">
                        <section id="cancel-membership"></section>

                        <div class="text-component">
                            <h3 class="text-points__title">How can you cancel your Premium or Enterprise membership?
                            </h3>
                            <p>You can cancel your Premium or Enterprise membership by navigating to your profile on our
                                website and select the 'version' option on the menu then scroll to the bottom and select
                                'Cancel' under the membership section.</p>
                            <p class="text-sm color-error">(Please note that if you wish to refund your membership
                                before cancelling then you must provide your activation id which will be deleted once
                                you cancel your membership).</p>
                        </div>
                    </li>

                    <li class="text-points__item col-6@md">
                        <section id="multiple-accounts"></section>

                        <div class="text-component">
                            <h3 class="text-points__title">Can multiple users be logged in on the same account?</h3>
                            <p>When using our application you must provide login credentials which will be checked in
                                our database before allowing you to continue. When our software detects alternate users
                                logged in under the same credentials you and the alternate users will be denied access
                                and/or kicked out from the application and must provide email verification to continue.
                            </p>
                            <p class="text-sm color-error">(Please note that when having been locked out of your account
                                you must provide email verification that will require your password and account id
                                which can be accessed via our support team. Therefore, please take note of your
                                activation id and/or account id before using our application).</p>
                        </div>
                    </li>

                    <li class="text-points__item col-6@md">
                        <section id="integration-support"></section>

                        <div class="text-component">
                            <h3 class="text-points__title">Can you get support for our software integration?</h3>
                            <p>You cannot as of recently get support for software integration only general purposes or
                                initial problems when using our application. There are hopes to implement a new support
                                team for this matter but that has not been achieved yet.</p>
                            <p class="text-sm color-error">(Please note that if you must require software integration
                                support you must contact one of our Development team officials that may be able to
                                support you. Please do not spam or expect immidiate support).</p>
                        </div>
                    </li>

                    <li class="text-points__item col-6@md">
                        <section id="suggest-features"></section>

                        <div class="text-component">
                            <h3 class="text-points__title">Where can you suggest for new features?</h3>
                            <p>You can post new feature suggestions for our application by navigating on our website to
                                the suggestions page via the footer or navigation menu and then selecting 'features' in
                                the suggestions menu.</p>
                            <a class="color-primary" target="_blank" href="{{URL 'feedback'}}">Feedback</a>
                        </div>
                    </li>
                </ol>
            </div>

            <div class="text-divider"></div>

            <p class="color-contrast-high">
                Do you still have any questions?
            </p>

            <p>Find out more about your question by <a class="color-primary" target="_blank" style="cursor: pointer;" onclick="document.querySelector('.legals-contact-us').click()">contacting
                    our support team</a>.</p>

            <footer class="container margin-top-lg margin-bottom-lg">
                <div class="flex">
                    <div class="author margin-right-md author--meta">
                        <a href="#0" class="author__img-wrapper">
                            <img src="{{URL 'utils/img/jpg/me.jpg'}}" alt="Author picture">
                        </a>

                        <div class="author__content text-component v-space-xxs">
                            <h4 class="text-base"><a href="#0" rel="author">Reece Barker</a></h4>
                            <p class="text-sm color-contrast-medium"><time>Oct 15</time> &mdash; 2020</p>
                        </div>
                    </div>
                    
                    <section id="signature">
                        {{> 2 width=164 height=164}}
                    </section>
                </div>
            </footer>
        </div>
    </div>
</article>