<article class="padding-y-md">
    <div class="container max-width-adaptive-md">
        <div class="text-component line-height-lg v-space-md">
            <h2>Terms and Conditions</h2>

            <p>Please note that if you would like to report any bugs or glitches in our software, visit our <a
                    target="_blank" href="https://github.com/Mooonys">GitHub</a> page. You may also notify us with your suggestions
                via the <a target="_blank" href="https://github.com/Mooonys/Mooonys/discussions">GitHub</a> page and/or our <a
                    target="_blank" href="{{URL 'collaboration/feedback'}}">Feedback</a> page.</p>

            <div class="text-divider"></div>

            <section id="purchasing-policy">
                <h1 class="text-md color-contrast-high">What happens when you purchase our products?</h1>

                <p class="color-contrast-high">
                    When you purchase our products or specifically our corporation or business packages, you will be asked to supply certain information relevant to your purchase including, without limitation, your billing address, your credit card number and the expiration date of your credit card.
                    You represent and warrant that: (i) you have the legal right to use any credit card(s) or other payment methods in connection with any purchase; and that (ii) the information you supply to us is accurate, correct and complete.
                    We may employ the use of third-party services to facilitate payment and the completion of purchases, By submitting your information, you grant us the right to provide the information to these third parties subject to our <a href="{{URL 'legals/privacy-policy'}}">Privacy Policy</a>.
                </p>

                <p>
                    We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction is suspected.

                    <p>Find out more about <a class="color-primary" target="_blank"
                            style="cursor: pointer;" onclick="document.querySelector('.legals-contact-us').click()">what happens when you purchase our products</a>.</p>
                </p>
            </section>
            
            <div class="text-divider"></div>

            <section id="refund-policy">
                <h1 class="text-md color-contrast-high">What happens when you want to refund your purchase?</h1>

                <p class="color-contrast-high">
                    Acolytes has a collection of paid products and services, when given our products and services through a form of payment you may not be permitted a refund which is purely decided by the reviewer and reason provided. If, you have been permitted or your refund request has been approved then you may have to connect a PayPal, or another payment method different from generic Credit Card transfers as they are not supported for refunds, yet.
                </p>

                <p>
                    Before you decide to purchase any of our products or services we do support some demos that allows you to review/view our products or services before you make your purchase.

                    <p>Find out more about our <a class="color-primary" target="_blank"
                            style="cursor: pointer;" onclick="document.querySelector('.legals-contact-us').click()">refund policy</a>.</p>
                </p>
            </section>

            <div class="text-divider"></div>

            <section id="security-policy">
                <h1 class="text-md color-contrast-high">What happens when you register an account?</h1>

                <p class="color-contrast-high">
                    When you create an account with us, you guarantee that you are above the age of 18 and that the information you provide us is accurate, complete, and current at all times.
                    You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.
                </p>
                
                <p>
                    You should make sure to adhere to some of these requirements before registering your account with us, and make sure you have security and control over your personal information before providing it to us.

                    <p>Find out more about our <a class="color-primary" target="_blank" 
                            style="cursor: pointer;" onclick="document.querySelector('.legals-contact-us').click()">security policy</a>.</p>
                </p>
            </section>

            <div class="text-divider"></div>

            <section id="reserved-rights">
                <h1 class="text-md color-contrast-high">What are our reserved rights?</h1>

                <p class="color-contrast-high">
                    We reserve the rights to make changes to these Terms and Conditions without any prior notice at our sole discretion.
                </p>
                
                <p class="flex flex-column">
                    <span>Acolytes S.R.L.</span>
                    <span>Mergenthalerstraße 13,</span>
                    <span>81247 München.</span>

                    <p>Find out more about our <a class="color-primary" target="_blank"
                            style="cursor: pointer;" onclick="document.querySelector('.legals-contact-us').click()">reserved rights</a>.</p>
                </p>
            </section>

            <div class="text-divider"></div>

            <p class="color-contrast-high">
                Are you still unsure about our terms and conditions?
            </p>

            <p>Find out more about our terms and conditions by <a class="color-primary" target="_blank" style="cursor: pointer;" onclick="document.querySelector('.legals-contact-us').click()">contacting
                    our support team</a>.</p>

            <footer class="container margin-top-lg margin-bottom-lg">
                <div class="flex">
                    <div class="author margin-right-md author--meta">
                        <a href="#0" class="author__img-wrapper">
                            <img src="{{URL 'utils/img/jpg/me.jpg'}}" alt="Author picture">
                        </a>

                        <div class="author__content text-component v-space-xxs">
                            <h4 class="text-base"><a href="#0" rel="author">Reece Barker</a></h4>
                            <p class="text-sm color-contrast-medium"><time>Oct 15</time> &mdash; 2020</p>
                        </div>
                    </div>
                    
                    <section id="signature">
                        {{> 2 width=164 height=164}}
                    </section>
                </div>
            </footer>
        </div>
    </div>
</article>